{% extends "base.html" %}
{% block content %}

<div>
  <nav> 
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('방송', true) }}
      {{ macros.m_tab_head('영화', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>  

  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('방송', true) }}
      <div id="list" class="container"></div>
    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('영화', false) }}
      <div id="list2" class="container"></div>
    {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
</div> <!--전체-->

<link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">

<script type="text/javascript">
var package_name = 'nsearch';
var wavve_plugin = '{{arg['wavve_plugin']}}';
var tving_plugin = '{{arg['tving_plugin']}}';
var list_method = '{{arg['list_method']}}';

$(document).ready(function(){
  $.ajax({
    url: '/' + package_name + '/ajax/tving4k',
    type: "POST",
    cache: false,
    data: {type:'program'},
    dataType: "json",
    success: function (data) {
      if (list_method == 'album') {
        tving_make_album(data);
      } else {
        tving_make_list(data);
      }
    }
  });
  $.ajax({
    url: '/' + package_name + '/ajax/tving4k',
    type: "POST",
    cache: false,
    data: {type:'movie'},
    dataType: "json",
    success: function (data) {
      if (list_method == 'album') {
        tving_make_album2(data);
      } else {
        tving_make_list2(data);
      }
    }
  });

  $("body").on('click', '#go_tving_vod', function(e){
    e.preventDefault();
    code = $(this).data('code');
    url = 'http://www.tving.com/vod/player/' + code;
    window.open(url, '_blank');
  });

  $("body").on('click', '#go_tving_movie', function(e){
    e.preventDefault();
    code = $(this).data('code');
    url = 'http://www.tving.com/movie/player/' + code;
    window.open(url, '_blank');
  });

  $("body").on('click', '#tving_program_basic_analyze', function(e){
    e.preventDefault();
    code = $(this).data('code');
    var redirect = '/' + tving_plugin + '/basic';
    $.redirectPost(redirect, {code: code});
    $(location).attr('href', '/' + tving_plugin + '/basic?code=' + code)
  });

  $("body").on('click', '#tving_program_series_analyze', function(e){
    e.preventDefault();
    code = $(this).data('code');
    var redirect = '#다운로드';
    $.redirectPost(redirect, {code: code});
    $(location).attr('href', '/' + tving_plugin + '/series?code=' + code)
  });

});

function tving_make_album(ret){
  data = ret.data.body.result;
  str = '총 ' + data.length + '편';
  str += '<hr>';
  str += '<div class="row">';
  for (var i = 0; i < Object.keys(data).length; i++) {
    image_url = '';
    for (j in data[i].content.program.image) {
      if (data[i].content.program.image[j].code == 'CAIP0900') {
        image_url = data[i].content.program.image[j].url;
        break;
      }
    }
    if (image_url == '') {
      image_url = data[i].content.program.image[0].url;
    }

    str += '<div class="col-md-3">';
    str += '<div class="card mb-3 box-shadow">';
    str += '<img class="card-img-top" src="' + 'http://image.tving.com' + image_url + '" class="img-fluid img-thumbnail">';
    str += '<div class="card-body">';
    str += '<p class="card-text">';
    str += '<strong>' + data[i].content.program.name.ko + '</strong>';
    str += '<small class="text-muted">';
    str += '<br>' + ' (' + data[i].content.program.product_year + ')';
    str += '<br>' + data[i].content.channel.name.ko;
    str += '<br>' + data[i].content_code;
    str += '</small>';
    str += '</p>';
    str += '<div class="d-flex justify-content-between align-items-center">';
    str += '<div class="btn-group">';
    str += '<button id="tving_program_basic_analyze" name="submit" type="button" class="btn btn-sm  btn-outline-secondary" data-code="'+data[i].content_code+'">분석</button>';
    str += '<button id="go_tving_vod" name="submit" type="button" class="btn btn-sm  btn-outline-secondary" data-code="'+data[i].content_code+'">티빙</button>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  str += '</div>';

  document.getElementById("list").innerHTML = str;
}

function tving_make_album2(ret){
  data = ret.data.body.result;
  str = '총 ' + data.length + '편';
  str += '<hr>';
  str += '<div class="row">';
  for (var i = 0; i < Object.keys(data).length; i++) {
    image_url = '';
    for (j in data[i].content.movie.image) {
      if (data[i].content.movie.image[j].code == 'CAIM2100') {
        image_url = data[i].content.movie.image[j].url;
        break;
      }
    }
    if (image_url == '') {
      image_url = data[i].content.movie.image[0].url;
    }

    str += '<div class="col-md-3">';
    str += '<div class="card mb-3 box-shadow">';
    str += '<img class="card-img-top" src="' + 'http://image.tving.com/resize.php?u=' + 'http://image.tving.com' + image_url + '&w=388.7' + '" class="img-fluid img-thumbnail">';
    str += '<div class="card-body">';
    str += '<p class="card-text">';
    str += '<strong>' + data[i].content.movie.name.ko + '</strong>';
    str += '<small class="text-muted">';
    str += '<br>' + ' (' + data[i].content.movie.product_year + ')';
    str += '<br>' + data[i].content_code;
    str += '</small>';
    str += '</p>';
    str += '<div class="d-flex justify-content-between align-items-center">';
    str += '<div class="btn-group">';
    //str += '<button id="tving_program_basic_analyze" name="submit" type="button" class="btn btn-sm  btn-outline-secondary" data-code="'+data[i].content_code+'">분석</button>';
    str += '<button id="go_tving_movie" name="submit" type="button" class="btn btn-sm  btn-outline-secondary" data-code="'+data[i].content_code+'">티빙</button>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  str += '</div>';

  document.getElementById("list2").innerHTML = str;
}


function tving_make_list(ret) {
  //window.scrollTo(0,0);
  //document.getElementById("modal_title").innerHTML = "Login Result";
  //document.getElementById("modal_body").innerHTML = "<pre>"+JSON.stringify(ret, null, 2) + "</pre>";
  //$("#large_modal").modal();
  data = ret.data.body.result;
  str = '총 ' + data.length + '편';

  for (i in data) {
    str += '<hr>';
    str += '<div class="row">';
    str += '<div class="col-sm-2">';
    image_url = '';
    for (j in data[i].content.program.image) {
      if (data[i].content.program.image[j].code == 'CAIP0900') {
        image_url = data[i].content.program.image[j].url;
        break;
      }
    }
    if (image_url != '') {
      str += '<img src="' + 'http://image.tving.com' + image_url + '" class="img-fluid">'
    } else {
      image_url = data[i].content.program.image[0].url;
      str += '<img src="' + 'http://image.tving.com' + image_url + '" class="img-fluid">'
    }
    str += '</div>';
    str += '<div class="col-sm-10">'
    str += '<div>';
    str += '<strong>' + data[i].content.program.name.ko;
    str += '</strong>';
    str += ' (' + data[i].content.program.product_year + ')';
    str += ' ' + data[i].content.channel.name.ko;
    str += '<br><p>';
    str += '<strong>프로그램ID</strong> : '
    str += data[i].content_code;
    str += '<br>';
    if ( data[i].content.program.synopsis.ko != null)
              str += '<p>' + data[i].content.program.synopsis.ko.replace('\n', '<br>') + '<p>';
    str += '</div>';
    str += '<div>';
    str += '<div class="btn-group btn-group-sm flex-wrap mr-2" role="group">';
    str += ' <button id="tving_program_basic_analyze" name="submit" class="btn btn-sm  btn-outline-success" data-code="'+data[i].content_code+'">분석</button>';
    //str += ' <button id="tving_program_series_analyze" name="submit" class="btn btn-sm  btn-outline-success" data-code="'+data[i].content_code+'">시리즈 - 분석</button>';
    str += ' <button id="go_tving_vod" name="submit" type="button" class="btn btn-sm  btn-outline-success" data-code="'+data[i].content_code+'">티빙</button>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  document.getElementById("list").innerHTML = str;
}

function tving_make_list2(ret) {
  //window.scrollTo(0,0);
  //document.getElementById("modal_title").innerHTML = "Login Result";
  //document.getElementById("modal_body").innerHTML = "<pre>"+JSON.stringify(ret, null, 2) + "</pre>";
  //$("#large_modal").modal();
  data = ret.data.body.result;
  str = '총 ' + data.length + '편';

  for (i in data) {
    str += '<hr>';
    str += '<div class="row">';
    str += '<div class="col-sm-2">';
    image_url = '';
    for (j in data[i].content.movie.image) {
      if (data[i].content.movie.image[j].code == 'CAIM2100') {
        image_url = data[i].content.movie.image[j].url;
        break;
      }
    }
    if (image_url != '') {
      str += '<img src="' + 'http://image.tving.com/resize.php?u=' + 'http://image.tving.com' + image_url + '&w=388.7' + '" class="img-fluid">'
    } else {
      image_url = data[i].content.movie.image[0].url;
      str += '<img src="' + 'http://image.tving.com/resize.php?u=' + 'http://image.tving.com' + image_url + '&w=388.7' + '" class="img-fluid">'
    }
    str += '</div>';
    str += '<div class="col-sm-10">'
    str += '<div>';
    str += '<strong>' + data[i].content.movie.name.ko;
    str += '</strong>';
    str += ' (' + data[i].content.movie.product_year + ')';
    str += '<br><p>';
    str += '<strong>프로그램ID</strong> : '
    str += data[i].content_code;
    str += '<br>';
    if ( data[i].content.movie.story.ko != null)
              str += '<p>' + data[i].content.movie.story.ko.replace('\n', '<br>') + '<p>';
    str += '</div>';
    str += '<div>';
    str += '<div class="btn-group btn-group-sm flex-wrap mr-2" role="group">';
    //str += ' <button id="tving_program_basic_analyze" name="submit" class="btn btn-sm  btn-outline-success" data-code="'+data[i].content_code+'">분석</button>';
    str += ' <button id="go_tving_movie" name="submit" type="button" class="btn btn-sm  btn-outline-success" data-code="'+data[i].content_code+'">티빙</button>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  document.getElementById("list2").innerHTML = str;
}
</script>    
{% endblock %}