{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '일반', true) }}
      {{ macros.m_tab_head2('show', 'TV', false) }}
      {{ macros.m_tab_head2('movie', '영화', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
   {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.setting_input_text('plex_scan_delay', '스캔명령 지연시간(초)', value=arg['plex_scan_delay'], col='3', desc=['strm파일 생성후 스캔명령 전송 대기 시간(초단위)']) }}
    {{ macros.setting_input_text('plex_scan_min_limit', '스캔명령 재전송 제한시간(초)', value=arg['plex_scan_min_limit'], col='3', desc=['동일섹션에 대해 스캔명령을 재 전송할 최소 제한 시간', '10으로 설정시 10초 내에는 동일 섹션에 스캔명령을 전송하지 않음']) }}
    {{ macros.setting_input_text('plex_path_rule', 'PLEX 경로변환규칙', value=arg['plex_path_rule'], desc=['SJVA에서 구글드라이브 경로와 Plex서버상의 경로가 다를경우 사용', '형식: 로컬마운트경로|Plex 상의 경로', '예: /mnt/gdrive|P: (구글드라이브 루트가 Plex 서버에서 P:으로 매칭)']) }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('show', false) }}
    {{ macros.setting_global_scheduler_button(arg['ott_show_scheduler'], arg['is_running']) }}
    {{ macros.setting_input_int('ott_show_scheduler_interval', '메타갱신 스케쥴링 실행 정보', value=arg['ott_show_scheduler_interval'], desc=['Inverval(minute 단위)이나 Cron 설정']) }}
    {{ macros.setting_checkbox('ott_show_scheduler_auto_start', '시작시 자동실행', value=arg['ott_show_scheduler_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
    {{ macros.setting_input_text('show_library_path', 'TV 라이브러리 경로', value=arg['show_library_path'], desc=['TV용 strm파일을 생성할 라이브러리 경로']) }}
    {{ macros.setting_input_int('meta_update_interval', '메타갱신 SleepTime', value=arg['meta_update_interval'], desc=['메타갱신 휴식시간(초)','여러파일 메타갱신시 파일처리당 휴식시간']) }}
    {{ macros.setting_checkbox('meta_update_notify', '메타갱신개별알림', value=arg['meta_update_notify'], desc='On : 메타갱신시 파일별 알림, Off: 메타갱신 완료시 1번만 알림') }}
   {{ macros.m_tab_content_end() }}
   {{ macros.m_tab_content_start('movie', false) }}
    {{ macros.setting_checkbox('movie_search_only_possible', '재생가능영화만 검색', value=arg['movie_search_only_possible'], desc=['On: 재생권한이 있는 영화만 검색결과 목록표시']) }}
    {{ macros.setting_input_int('movie_search_score_limit', '영화검색 최하 기준점수', value=arg['movie_search_score_limit'], desc=['1~100, 영화검색에 표시할 최소 검색점수(낮을수록 많은항목 검색됨)']) }}
    {{ macros.setting_input_text('movie_kodi_path', 'KODI 라이브러리 경로', value=arg['movie_kodi_path'], desc=['KODI라이브러리 경로, DRM영화파일 지원, * Plex에서는 DRM 재생 미지원']) }}
    {{ macros.setting_input_text('movie_plex_path', 'PLEX 라이브러리 경로', value=arg['movie_plex_path'], desc=['PLEX라이브러리 경로, DRM영화 미지원, * strm 파일생성후 PMS로 스캔명령 전송']) }}
    {{ macros.setting_input_text('movie_list_path', '영화정보 저장폴더', value=arg['movie_list_path'], desc=['등록한 영화파일의 정보를 저장할 폴더(목록용)', '로컬경로로 지정해주세요']) }}
    {{ macros.setting_input_text('movie_fname_rule', '파일명 생성규칙', value=arg['movie_fname_rule'], desc=['파일명 생성규칙, 지원값: {title}, {year}, {country}, {genre}, {rating}, {code}, {drm}, {mpaa}', 'title, year외의 값은 대괄호안에 포함됨, 비어있는 경우 기본값: title']) }}
    {{ macros.setting_checkbox('movie_auto_classfy', '영화자동분류 사용', value=arg['movie_auto_classfy'], desc=['On: strm파일을 메타정보에 따라 분류된 폴더 하위에 생성', 'Off: 라이브러리 경로에 영화파일 생성']) }}
    <div id="movie_auto_classfy_div" class="collapse">
    {{ macros.setting_input_text('movie_classfy_rule', '하위폴더 생성규칙', value=arg['movie_classfy_rule'], desc=['하위폴더 생성규칙, {country}, {genre} 지원', '{country}/{genre} 지정시, 한국/액션 폴더에 생성']) }}
    {{ macros.setting_input_textarea('movie_country_rule', '생성규칙-국가별', desc=['국가분류규칙, 비어있는 경우 검사하지 않음', '\"국가,폴더명\" 형식, 여러국가 지정시 \"일본|중국|홍콩,아시아영화\"', '여러조건 입력시 구분자는 Enter, *default,fail값 설정필수, 지우지마세요'], value=arg['movie_country_rule'], row='3') }}
    {{ macros.setting_input_textarea('movie_genre_rule', '생성규칙-장르별', desc=['장르분류규칙, 비어있는 경우 검사하지 않음', '\"장르,폴더명\" 형식, 여러장르 지정시 \"공포|스릴러,공포영화\"', '여러조건 입력시 구분자는 Enter, *default,fail값 설정필수, 지우지마세요'], value=arg['movie_genre_rule'], row='3') }}
    </div>
   {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
  </form>
</div>


<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";

$(document).ready(function(){
  use_collapse("movie_auto_classfy");
});

$('#movie_auto_classfy').change(function() {
  use_collapse('movie_auto_classfy');
});

</script>    
{% endblock %}
