{% extends "base.html" %}
{% block content %}



<div>
  <form id="form_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid" align="center">
        <span class="col-md-10">
          <button id="movie_search_modal_btn" class="btn btn-sm btn-outline-success">영화등록</button>
	  <input id="search_word" name="search_word" class="form-control form-control-sm w-75" type="text" placeholder="제목입력" aria-label="Search">
          <button id="search" class="btn btn-sm btn-outline-success">검색</button>
	  <button id="reset_btn" class="btn btn-sm btn-outline-success">리셋</button>
        </span>
      </div>
      <hr>
      <div class="row show-grid">
        <span class="col-md-4">
          {{ macros.m_button_group([['all_btn', '전체'], ['kor_btn', '국내'], ['foreign_btn', '해외']]) }}
	</span>
        <span class="col-md-8" align="center">
          {{ macros.m_button_group([['all_genre_btn', '전체장르'], ['dra_btn', '드라마'], ['ent_btn', '예능'], ['etc_btn', '기타']]) }}
	</span>
      </div>
    </div>
  </form>
<div>
<hr>
  <div id="list_div"></div>
</div>

<!-- 영화검색용 Modal -->
<div class="modal fade" id="movie_search_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title">영화 검색하기</h4>
      </div>
      <div class="modal-body" id="modal_body" style="word-break:break-all;">
	<form id="movie_search_form" name="movie_search_form">
	  <div class="input-group col-sm-12">
		<div class="col-md-10" style="align-items:left; text-align:left;">
		  <input id="movie_search_keyword" name="movie_search_keyword" class="form-control form-control-sm w-100" type="text" placeholder="" aria-label="Search">
		</div>
		<div class="col-md-2" style="align-items:left; text-align:left;">
		  <button id="movie_search_btn" class="btn btn-sm btn-outline-success">검색</button>
		  <button id="modal_reset_btn" class="btn btn-sm btn-outline-success">리셋</button>
		</div>
	  </div>
	</form>
	<hr>
	<div class="col-sm-12 w-100" align="center">
          {{ macros.m_hr_head_top() }}
          {{ macros.m_row_start('0') }}
          {{ macros.m_col(3, macros.m_strong('포스터')) }}
          {{ macros.m_col(5, macros.m_strong('제목/정보')) }}
          {{ macros.m_col(2, macros.m_strong('기능')) }}
          {{ macros.m_row_end() }}
          {{ macros.m_hr_head_bottom() }}
 	  <div id="movie_search_result"></span>
	</div>
	</div> <!-- body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;
var formData = null;
var wtype = 'all'
var gtype = 'all'
var fpath = null

$(document).ready(function(){
  formData = get_formdata('#form_search');
  //request_search('1');
});

$("#search").click(function(e) {
  e.preventDefault();
  request_search('1');
});

$("#reset_btn").click(function(e) {
  e.preventDefault();
  document.getElementById("search_word").value = '';
  request_search('1')
});

$("body").on('click', '#file_remove_btn', function(e){
  e.preventDefault();
  fpath = $(this).data('file_path');
  document.getElementById("confirm_title").innerHTML = "경고: 파일삭제 확인";
  document.getElementById("confirm_body").innerHTML = '파일이 삭제됩니다. 진행하시겠습니까?<br>대상파일: ' +fpath+ '<br>Plex 정보는 갱신되지 않습니다.';
  $('#confirm_button').attr('onclick', "file_remove();");
  $("#confirm_modal").modal();
  return;
});

function file_remove() {
  $.ajax({
    url: '/' + package_name + '/ajax/file_remove',
    type: "POST", 
    cache: false,
    data: {fpath: fpath},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      request_search(1);
    }
  });
}

function request_search(page) {
  formData = get_formdata('#form_search');
  ctype = 'movie';
  formData += '&ctype=' + ctype;
  formData += '&wtype=' + wtype;
  formData += '&gtype=' + gtype;
  $.ajax({
    url: '/' + package_name + '/ajax/plexott_list',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      window.scrollTo(0,0);
      make_album(data.list)
    }
  });
}

function make_album(data) {
  current_data = data;
  str = '';
  tmp = '';
  str += m_row_start();
  for (i in data) {
    str += '<div class="col-md-2 col-sm-4 col-6">';
    str += '<div class="card mb-2 box-shadow">';
    str += '<img class="card-img-top" src="'+data[i].poster_url+'" class="img-fluid img-thumbnail">';
    str += '<div class="card-body">';
    str += '<p class="card-text">';
    str += '<strong>' + data[i].title + '</strong><br>';
    str += '<small class="text-muted">';
    if (data[i].status == 1) {
      str += '(방영중/' +data[i].genre+ ')<br>';
    } else if (data[i].status == 2) {
      str += '(종영/' +data[i].genre+ ')<br>';
    } else if (data[i].status == 0) {
      str += '(방영예정/' +data[i].genre+ ')<br>';
    } else {
      str += '&nbsp;-<br>';
    }
    if (data[i].status == 1) {
    	var broadcast_info = data[i].broadcast_info;
        if (broadcast_info != null && broadcast_info != '') {
	    var wdays = broadcast_info.wdays;
	    for (j in wdays) {
	        str += wdays[j] + '&nbsp;';
	    }
	    str += '/&nbsp;';
            str += ("00" + broadcast_info.hour).slice(-2) + ':' + ("00" + broadcast_info.min).slice(-2) + '<br>';
        }
    }
    else {
      str += '<br>';
    }
    str += '</small>';
    str += '</p>';
    str += '<div class="d-flex justify-content-between align-items-center">';
    tmp = m_button2('meta_refresh_btn', '갱신', [{'key':'title', 'value':data[i].title}], 'info');
    tmp += m_button2('file_remove_btn', '삭제', [{'key':'file_path', 'value':data[i].file_path}], 'danger');
    btn_str = m_button_group(tmp);
    str += btn_str;
    
    str += '<small class="text-muted"></small>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  str += m_row_end();
  document.getElementById("list_div").innerHTML = str;
}

$("body").on('click', '#all_btn', function(e){
  e.preventDefault();
  wtype='all';
  request_search('1');
});
$("body").on('click', '#mon_btn', function(e){
  e.preventDefault();
  wtype='mon';
  request_search('1');
});
$("body").on('click', '#tue_btn', function(e){
  e.preventDefault();
  wtype='tue';
  request_search('1');
});
$("body").on('click', '#wed_btn', function(e){
  e.preventDefault();
  wtype='wed';
  request_search('1');
});
$("body").on('click', '#thu_btn', function(e){
  e.preventDefault();
  wtype='thu';
  request_search('1');
});
$("body").on('click', '#fri_btn', function(e){
  e.preventDefault();
  wtype='fri';
  request_search('1');
});
$("body").on('click', '#sat_btn', function(e){
  e.preventDefault();
  wtype='sat';
  request_search('1');
});
$("body").on('click', '#sun_btn', function(e){
  e.preventDefault();
  wtype='sun';
  request_search('1');
});
$("body").on('click', '#onair_btn', function(e){
  e.preventDefault();
  wtype='onair';
  request_search('1');
});
$("body").on('click', '#end_btn', function(e){
  e.preventDefault();
  wtype='end';
  request_search('1');
});
$("body").on('click', '#all_genre_btn', function(e){
  e.preventDefault();
  gtype='all';
  request_search('1');
});
$("body").on('click', '#dra_btn', function(e){
  e.preventDefault();
  gtype='dra';
  request_search('1');
});
$("body").on('click', '#ent_btn', function(e){
  e.preventDefault();
  gtype='ent';
  request_search('1');
});
$("body").on('click', '#etc_btn', function(e){
  e.preventDefault();
  gtype='etc';
  request_search('1');
});

<!-- 영화검색 modal 관련 -->
$("body").on('click', '#movie_search_modal_btn', function(e) {
  e.preventDefault();
  $("#movie_search_modal").modal();
});

$("body").on('click', '#movie_search_btn', function(e) {
  e.preventDefault();
  keyword = document.getElementById('movie_search_keyword').value;
  if (keyword.length < 1) {
    $.notify('<strong>검색어를 입력해주세요</strong>', {type: 'warning'});
    return
  }
  $.ajax({
    url: '/' + package_name + '/ajax/movie_search',
    type: "POST", 
    cache: false,
    data: {keyword:keyword},
    dataType: "json",
    success: function (data) {
      current_data = data;
      if (data == '') {
        $.notify('<strong>검색에 실패하셨습니다.</strong>', {type: 'warning'});
        return
      }
      str = '';
      tmp = '';
      for (i in data) {
    	str += m_row_start();
        tmp = '<img src="'+data[i].poster_url+'" class="img-fluid img-thumbnail">';
	str += m_col(3, tmp);
        tmp = '<strong>' + data[i].title + '</strong><br>';
        tmp += '개봉: ' + data[i].year + '<br>';
        tmp += '사이트: ' + data[i].vod_site + '<br>';

        //tmp = '<strong>' + data[i].title + '</strong><br>(' +data[i].originaltitle+ ')';
        //tmp += '개봉/사이트: ' + data[i].year + '/' + data[i].vod_site + '<br>';
        //tmp += '감독: ' + data[i].extra_info.director + '<br>';
        //tmp += '출연: ' + data[i].extra_info.actor + '<br>';
	str += m_col(5, tmp);

        tmp = m_button2('strm_create_btn', '추가', [{'key':'title', 'value':data[i].title}], 'info');
        tmp += m_button('movie_detail_btn', '정보', [{'key':'code', 'value':data[i].code}]);
        btn_str = m_button_group(tmp);
	str += m_col(2, btn_str);
        str += m_row_end();
	if (i != data.length -1) str += m_hr();
      }
      document.getElementById("movie_search_result").innerHTML = str;
    }
  });
});

$("#movie_search_modal").on('shown.bs.modal', function(){
  $('#movie_search_keyword').focus().select();
});

$("#movie_search_modal").on('click', '#modal_reset_btn', function(e){
  e.preventDefault();
  document.getElementById("movie_search_result").innerHTML = '';
  document.getElementById("movie_search_keyword").value = '';
});


</script>    
{% endblock %}
