{% extends "base.html" %}
{% block content %}

<ul class="nav nav-pills bg-light shadow text-dark" >
  <li class="nav-item"><a class="nav-link" href="/nsearch/popular/setting">설정</a></li>
  <li class="nav-item"><a class="nav-link" href="/nsearch/popular/ratings">시청률 순위</a></li>
  <li class="nav-item"><a class="nav-link" href="/nsearch/popular/wavve">웨이브</a></li>
  <li class="nav-item"><a class="nav-link active" href="/nsearch/popular/tving">티빙</a></li>
  <li class="nav-item"><a class="nav-link" href="/nsearch/popular/tving4k">티빙 UHD 4K</a></li>
</ul>
<div class="d-inline-block"></div>

<div>
  <nav> 
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('전체', true) }}
      {{ macros.m_tab_head('드라마', false) }}
      {{ macros.m_tab_head('예능', false) }}
      {{ macros.m_tab_head('교양', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>  

  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('전체', true) }}
      <div id="list" class="container"></div>
    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('드라마', false) }}
      <div id="list2" class="container"></div>
    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('예능', false) }}
      <div id="list3" class="container"></div>
    {{ macros.m_tab_content_end() }}
    {{ macros.m_tab_content_start('교양', false) }}
      <div id="list4" class="container"></div>
    {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
</div>

<link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var list_method = "{{arg['list_method']}}";
var wavve_plugin = "wavve";
var tving_plugin = "tving";

$(document).ready(function(){
  $.ajax({
    url: '/' + package_name + '/ajax/tving_popular',
    type: "POST",
    cache: false,
    data: {type:'all'},
    dataType: "json",
    success: function (data) {
      if (list_method == 'album') {
        tving_make_album(data, "list");
      } else {
        tving_make_album(data, "list");
      }
    }
  });
  $.ajax({
    url: '/' + package_name + '/ajax/tving_popular',
    type: "POST",
    cache: false,
    data: {type:'dra'},
    dataType: "json",
    success: function (data) {
      if (list_method == 'album') {
        tving_make_album(data, "list2");
      } else {
        tving_make_album(data, "list2");
      }
    }
  });
  $.ajax({
    url: '/' + package_name + '/ajax/tving_popular',
    type: "POST",
    cache: false,
    data: {type:'ent'},
    dataType: "json",
    success: function (data) {
      if (list_method == 'album') {
        tving_make_album(data, "list3");
      } else {
        tving_make_album(data, "list3");
      }
    }
  });
  $.ajax({
    url: '/' + package_name + '/ajax/tving_popular',
    type: "POST",
    cache: false,
    data: {type:'doc'},
    dataType: "json",
    success: function (data) {
      if (list_method == 'album') {
        tving_make_album(data, "list4");
      } else {
        tving_make_album(data, "list4");
      }
    }
  });

  $("body").on('click', '#tving_program_basic_analyze', function(e){
    e.preventDefault();
    code = $(this).data('code');
    $(location).attr('href', '/' + tving_plugin + '/program/select?code=' + code)
  });

  $("body").on('click', '#tving_whitelist_program_btn', function(e){
    e.preventDefault();
    var program = $(this).data('program');
    add_condition_list(tving_plugin, 'whitelist_program', $(this).data('program'))
  });

});

function tving_make_album(ret, target){
  data = ret.data.body.result;
  // str = '총 ' + data.length + '편';
  str = ''
  str += '<hr>';
  str += '<div class="row">';
  for (var i = 0; i < Object.keys(data).length; i++) {
    image_url = '';
    for (j in data[i].program.image) {
      if (data[i].program.image[j].code == 'CAIP0900') {
        image_url = data[i].program.image[j].url;
        break;
      }
    }
    if (image_url == '') {
      image_url = data[i].program.image[0].url;
    }

    str += '<div class="col-md-2 col-sm-4 col-6">';
    str += '<div class="card mb-2 sm-4 box-shadow">';
    str += '<img class="card-img-top" src="' + 'https://image.tving.com/resize_cdn.php?u=https://image.tving.com' + image_url + '&w=180" class="img-fluid img-thumbnail">';
    str += '<div class="card-body">';
    str += '<p class="card-text">';
    str += '<strong>' + data[i].program.name.ko + '</strong>';
    str += '<small class="text-muted">';
    str += '<br>' + ' (' + data[i].program.product_year + ')';
    str += '<br>' + data[i].channel.name.ko;
    str += '<br>' + data[i].program.code;
    str += '</small>';
    str += '</p>';
    str += '<div class="d-flex justify-content-between align-items-center">';
    str += '<div class="btn-group">';
    str += '<button id="tving_program_basic_analyze" name="submit" type="button" class="btn btn-sm btn-outline-secondary" data-code="'+data[i].program.code+'">분석</button>';
    str += '<button id="tving_whitelist_program_btn" name="submit" type="button" class="btn btn-sm btn-outline-secondary" data-program="'+data[i].program.name.ko+'">추가</button>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
    str += '</div>';
  }
  str += '</div>';

  document.getElementById(target).innerHTML = str;
}

function add_condition_list(plugin, mode, value) {
  $.ajax({
    url: '/' + plugin + '/ajax/add_condition_list',
    type: "POST", 
    cache: false,
    data: {mode:mode, value:value},
    dataType: "json",
    success: function (data) {
      if ( data == 1) {
        $.notify('<strong>추가하였습니다.</strong>', {
          type: 'success'
        });
      } else if ( data == 0) {
        $.notify('<strong>이미 설정되어 있습니다.</strong>', {
          type: 'warning'
        });
      } else {
        $.notify('<strong>Exception</strong>', {
          type: 'warning'
        });
      }
    }
  });
}
</script>    
{% endblock %}