{% extends "base.html" %}
{% block content %}

<!--
<ul class="nav nav-pills bg-light shadow text-dark" >
  <li class="nav-item"><a class="nav-link active" href="/nsearch/plexott/setting">설정</a></li>
  <li class="nav-item"><a class="nav-link" href="/nsearch/plexott/list">목록</a></li>
</ul>
<div class="d-inline-block"></div>
-->

<div>
  <form id="form_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid">
        <span class="col-md-10">
	  <input id="search_word" name="search_word" class="form-control form-control-sm w-75" type="text" placeholder="문서제목 or 시트제목" aria-label="Search">
          <button id="search" class="btn btn-sm btn-outline-success">검색</button>
  	  <button id="refresh_meta_btn" class="btn btn-sm btn-outline-success">전체갱신</button>
        </span>
      </div>
    </div>
  </form>
<div>
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(2,  macros.m_strong('파일생성/갱신시각')) }}
  {{ macros.m_col(2,  macros.m_strong('포스터')) }}
  {{ macros.m_col(5,  macros.m_strong('작품명/파일명')) }}
  {{ macros.m_col(1,  macros.m_strong('에피수')) }}
  {{ macros.m_col(2,  macros.m_strong('처리기능')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="list_div"></div>
</div>


<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;

$(document).ready(function(){
  request_search('1');
});

function request_search(page) {
  var formData = get_formdata('#form_search');
  ctype = 'movie';
  formData += '&ctype=' + ctype;
  $.ajax({
    url: '/' + package_name + '/ajax/plexott_list',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      window.scrollTo(0,0);
      make_list(data.list)
    }
  });
}

function make_list(data) {
  current_data = data;
  str = '';
  tmp = '';
  for (i in data) {
    str += m_row_start();

    tmp = data[i].ctime + '<br>';
    tmp += data[i].mtime;
    str += m_col(2, tmp);
    
    if (data[i].poster_url) {
      tmp = '<img src="'+data[i].poster_url+'" class="img-fluid">';
      str += m_col(2, tmp);
    }
  
    tmp = '<strong>' + data[i].title + '</strong><br>';
    tmp += '로컬경로: ' + data[i].file_path + '<br>';
    tmp += 'Plex경로: ' + data[i].plex_path;
    str += m_col(5, tmp);
  
    tmp = data[i].episode_count;
    str += m_col(1, tmp);

    tmp = m_button2('meta_update_btn', '메타갱신', [{'key':'file_path', 'value':data[i].file_path}], 'info');
    tmp += m_button2('file_remove_btn', '파일삭제', [{'key':'file_path', 'value':data[i].file_path}], 'danger');
    btn_str = m_button_group(tmp);
    str += m_col(2, btn_str);
    
    str += m_row_end();
    if (i != data.length -1) str += m_hr();
  }
  document.getElementById("list_div").innerHTML = str;
}
</script>    
{% endblock %}
